/* view register */
.register, .login {
    height: 100vh;
}

/* akhir view register */

/* view login */
.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login input, .form-registration input, .form-verification input {
    padding: 1.5rem;
}

.form-login input, .form-registration input, .form-verification input, .form-verification select {
    border-radius: 50rem;
    margin-bottom: 7px;
}

.form-verification .form-check input {
    padding: 0.5rem;
    margin-bottom: 7px;
}

.form-login button, .form-registration button, .form-verification button {
    padding: 0.5rem;
}

.login .login-left .row,
.register .register-left .row {
    width: 100%;
}

.login .login-left .row .form-container,
.register .register-left .row .form-container {
    width: 50%;
}


/*Responsive Media*/

/* Media Mobile */
@media (max-width: 37em) {
    .mobile-hidden, .navbar {
        visibility: hidden !important;
    }

    .btn-group {
        width: 100% !important;
    }

    /* awal page login dan register */
    .register, .login {
        margin-top: 2em;
    }

    .login .login-left,
    .register .register-left {
        width: 100vw;
    }

    .login .login-left .row,
    .register .register-left .row {
        align-items: flex-start !important;
        width: 100vw;
    }

    .login .login-left .row .form-container,
    .register .register-left .row .form-container {
        width: 80%;
    }    

    .login .login-right,
    .register .register-right {
        width: 100vw;
        visibility: hidden;
    }
    /* akhir page login dan register */
}

@media (min-width: 37.1em) {
    .home-content .btn-group{
        visibility: hidden;
    }

    /* awal page login dan register */
    .login .login-left,
    .register .register-left {
        width: 70vw;
    }

    .login .login-right,
    .register .register-right {
        height: 100vh;
        width: 30vw;
    }
    /* akhir page login dan register */
}